@model List<Alumno>

@{
    ViewData["Title"] = "Alumnos";
    Layout = "Simple";
}
<h1>@ViewData["Title"] </h1>

    <partial name="ListaObjetosEscuela" /> 
  
<p><i>@ViewBag.CosaDinamica -  @ViewData["Fecha"]</i></p>